<h1>ESTADISTICAS</h1>
<p><span>Número de preguntas: </span><%= num_quizes %></p> 
<p><span>Número de comentarios: </span><%= num_comments  %></p>
<p><span>Número de preguntas sin comentarios: </span><%= num_quizes_sin_comments  %></p>
<p><span>Número de preguntas con comentarios: </span><%= num_quizes_con_comments  %></p>
<p><span>El número medio de comentarios por pregunta: </span><%= media_comments_quiz  %></p>